/* ==== BLUE THEME ==== */

body {
  background: #f0f6ff !important;
}

.navbar {
  background: #0d6efd !important;
  border: none !important;
}

.navbar a {
  color: white !important;
}

.sidebar {
  background: #0b5ed7 !important;
}

.sidebar a {
  color: #eaf1ff !important;
}

.sidebar a:hover {
  background: #0d6efd !important;
  color: white !important;
}

.panel-primary > .panel-heading {
  background: #0d6efd !important;
  color: white !important;
}

.btn-primary {
  background: #0d6efd !important;
  border-color: #0a58ca !important;
}
